<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>TODO</title>
    <link href="./styles/default.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="column" id="toRequest">
        <h1>TO REQUEST</h1>
        {{range .toRequest}}
        <div class="todoItem" id="todo{{.Id}}">
          {{.Content}}
          <button class="nextButton" id="nextButton{{.Id}}">»</button>
          <button class="deleteButton" id="deleteButton{{.Id}}">x</button>
        </div>
        {{end}}
      </div>
      <div class="column" id="requested">
        <h1>REQUESTED</h1>
        {{range .requested}}
        <div class="todoItem" id="todo{{.Id}}">
          {{.Content}}
          <button class="nextButton" id="nextButton{{.Id}}">»</button>
          <button class="deleteButton" id="deleteButton{{.Id}}">x</button>
        </div>
        {{end}}
      </div>
      <div class="column" id="onDelivery">
        <h1>ON DELIVERY</h1>
        {{range .onDelivery}}
        <div class="todoItem" id="todo{{.Id}}">
          {{.Content}}
          <button class="nextButton" id="nextButton{{.Id}}">»</button>
          <button class="deleteButton" id="deleteButton{{.Id}}">x</button>
        </div>
        {{end}}
      </div>
      <div class="column" id="delivered">
        <h1>DELIVERED</h1>
        {{range .delivered}}
        <div class="todoItem" id="todo{{.Id}}">
          {{.Content}}
          <button class="deleteButton" id="deleteButton{{.Id}}">x</button>
        </div>
        {{end}}
      </div>
    </div>
    <div>
      <input type="text" id="newTodoInput" />
      <button id="newTodoButton">Add TODO</button>
    </div>
    <script src="scripts/main.js"></script>
  </body>
</html>
